.btn{
  padding: 5px;
  max-width: 100px;
  background-color: green;
  border: none;
  border-radius: 10px;
  font-weight: bold;

  &:active{
    transform: scale(1.1);
    

  }
}


.btn__add{
  background-color: darkturquoise;

}

.btn__edit{
  background-color: chocolate;
}

.btn__delete{
  background-color: brown;
}

